{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>INFOIDZ</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.pn" rel="icon">
  <link href="{% static 'page/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'page/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'page/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'page/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'page/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'page/assets/css/style.css' %}" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center header-transparent">
    <div class="container d-flex justify-content-between align-items-center">

      <div id="logo">
        <h1><a href="index.html">INFOIDZ</a></h1>

      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#features">Features</a></li>

          <li><a class="nav-link scrollto" href="#choose">Why choose us</a></li>
          <li><a class="nav-link scrollto" href="#cards">Cards we have</a></li>
          <li><a class="nav-link scrollto" href="#pricing">Pricing</a></li>
          <li><a class="nav-link scrollto" href="#faq">Faq</a></li>
 
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">

    <div class="hero-text" data-aos="zoom-out">
      <h2>Welcome to INFOID</h2>
      <p>Just One Swift Tap To Share Your Business Card</p>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>

    <div class="product-screens">

      <div class="product-screen-1" data-aos="fade-up" data-aos-delay="400">
        <img src="{% static 'page/assets/img/product-screen-1.png' %}" alt="">
      </div>

      <div class="product-screen-2" data-aos="fade-up" data-aos-delay="200">
        <img src="{% static 'page/assets/img/product-screen-2.png' %}" alt="">
      </div>

      <div class="product-screen-3" data-aos="fade-up">
        <img src="{% static 'page/assets/img/product-screen-3.png' %}" alt="">
      </div>

    </div>

  </section><!-- End Hero Section -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="section-bg">
      <div class="container-fluid" data-aos="fade-up">
        <div class="section-header">
          <h3 class="section-title">About Us</h3>
          <span class="section-divider"></span>
          <p class="section-description">
            It's time to forget paper business cards. InfoIDz brings the most convenient and advanced solution to transmit business cards with just a single tap using smart cards.
          </p>
        </div>

        <div class="row">
          <div class="col-lg-6 about-img" data-aos="fade-right" dat-aos-delay="100">
            <img src="{% static 'page/assets/img/infoid/img-7.jfif' %}" alt="">
          </div>

          <div class="col-lg-6 content" data-aos="fade-left" dat-aos-delay="100">
           
            <p style="text-align: justify;">
              Create a revolution in sharing your smart cards with InfoIDz. We're the masters of crafting innovations with smart solutions for seamless connections and lasting impressions wherever you go. Yes, you read it right, and let's make it more clear. InfoIDz is a smart web application solution that helps you create smart business cards. Through InfoIDz, we aim to deliver smart cards encoded with your personal details to make the process of transmitting business cards more simple and accessible.
            </p>
<p style="text-align: justify;">In this modern era, adapting to modern technologies is necessary to thrive. Therefore, we are here to help you. We help you create smart business cards using the InfoIDz web application. The smart cards will be encoded with your personal and business information. Instead of relying on many paper business cards, you can use this smart card as your business card. This single, convenient smart business card, which befits your wallet, will serve as a sufficient means to share your business information.</p>
           
<p style="text-align: justify;">Customers can choose card material and design so that you will get customized business cards. All that you need to do is tap the smart business card on the receiver's devices. With this single step, you can transmit your business card easily. Our team of experts is always striving to support you throughout the whole process.</p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Featuress Section ======= -->
    <section id="features">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 offset-lg-4">
            <div class="section-header">
              <h3 class="section-title">Product Featuress</h3>
              <span class="section-divider"></span>
            </div>
          </div>

          <div class="col-lg-4 col-md-5 features-img">
            <img src="{% static 'page/assets/img/product-features.png' %}" alt="" data-aos="fade-right">
          </div>

          <div class="col-lg-8 col-md-7 ">

            <div class="row">

              <div class="col-lg-6 col-md-6 box" data-aos="fade-up">
                <div class="icon"><i class="bi bi-share"></i></div>
                <h4 class="title"><a href="">One-Tap Sharing</a></h4>
                <p class="description">Just one tap of the NFC business card is all enough to share your business card to another person.</p>
              </div>
              <div class="col-lg-6 col-md-6 box" data-aos="fade-up">
                <div class="icon"><i class="bi bi-hand-index"></i></div>
                <h4 class="title"><a href="">Interactive Design</a></h4>
                <p class="description">We create attractive & interactive digital business cards that best suit your identity and organization.</p>
              </div>
              <div class="col-lg-6 col-md-6 box" data-aos="fade-up" dat-aos-delay="100">
                <div class="icon"><i class="bi bi-file-earmark-code"></i></div>
                <h4 class="title"><a href="">Customization</a></h4>
                <p class="description">We value the purpose of each brand, that is why we're committed to designing and providing.</p>
              </div>
              <div class="col-lg-6 col-md-6 box" data-aos="fade-up" data-aos-delay="100">
                <div class="icon"><i class="bi bi-graph-up"></i></div>
                <h4 class="title"><a href="">Analytics</a></h4>
                <p class="description">Your digital business card can be saved on the device you tapped once and shared on any other devices.</p>
              </div>
            </div>

          </div>

        </div>

      </div>

    </section><!-- End Featuress Section -->

    <!-- ======= Advanced Featuress Section ======= -->
    <section id="advanced-features">

      <div class="features-row section-bg" data-aos="fade-up">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-right wow fadeInRight" style="width: 50%;" src="{% static 'page/assets/img/infoid/img-1.jfif' %}" alt="">
              <div style="padding-top: 100px;">
                <h2>Collecting Information</h2>
               
                <p class="text-justify" style="text-align: justify;">The best way to share business information is to share a business card. While preparing NFC business cards, collecting information from customers is a crucial step. We create business cards for customers, therefore customers can suggest and decide the details they wish to include in the card.</p>
                <p class="text-justify" style="text-align: justify;">They can customize their business card by including essential details of their business along with contact details, according to the nature and mission of the businesses. Customers have the full right to customize their NFC business card based on their preferences of card design, material and the details to be included.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-row" data-aos="fade-up">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-left" style="width: 50%;" src="{% static 'page/assets/img/infoid/img-2.jfif' %}" alt="">
              <div style="padding-top: 100px;">
                <h2>Material & Design Selection</h2>

                <p class="text-justify" style="text-align: justify;">The best way to share business information is to share a business card. While preparing NFC business cards, collecting information from customers is a crucial step. We create business cards for customers, therefore customers can suggest and decide the details they wish to include in the card.</p>
                <p class="text-justify" style="text-align: justify;">They can customize their business card by including essential details of their business along with contact details, according to the nature and mission of the businesses. Customers have the full right to customize their NFC business card based on their preferences of card design, material and the details to be included.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="features-row section-bg" data-aos="fade-up">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-right wow fadeInRight" style="width: 50%;" src="{% static 'page/assets/img/infoid/img-5.jfif' %}" alt="">
              <div style="padding-top: 100px;">
                <h2>Printing of the NFC Card</h2>
                <p class="text-justify" style="text-align: justify;">After getting into the confirmation of card design, card material and the details, the next and major step is printing NFC business cards. We print business cards on top-quality smart cards using best-in-industry printers to make the card lifetime usage.</p>
                <p class="text-justify" style="text-align: justify;">We help customers to create a lasting impression with attractive & durable NFC business card on the material and design chosen by our customer with the details. These smart business cards are a great alternative to traditional paper business cards. Just tap the smart business card and you can swiftly share card details to other devices and the device owner can save or share them.</p>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="features-row" data-aos="fade-up">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <img class="advanced-feature-img-left" style="width: 50%;" src="{% static 'page/assets/img/infoid/img-6.jfif' %}" alt="">
              <div style="padding-top: 100px;">
                <h2>Handing Over the Card</h2>

                <p class="text-justify" style="text-align: justify;">The final and most awaited step is handing over the card to the customer. Now, the customers have their smart business card in their palms and they can say hi to the new world of convenience.They can easily share their business card by tapping the NFC smart business card on another person's device.</p>
                <p class="text-justify" style="text-align: justify;">They can either save the card on their phone or they can share it via different social media platforms. The satisfaction of convenience on our customers' faces after receiving the card makes us proud and motivates us to serve them more.</p>
              </div>
            </div>
          </div>
        </div>
      </div>



    </section><!-- End Advanced Featuress Section -->

    <!-- ======= Call To Action Section ======= -->
    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 text-center text-lg-start">
            <h3 class="cta-title">CONTACT US</h3>
            <p class="cta-text"> Do you wish to experience the convenience of easily transmitting business cards with a single tap? Let us know your requirements. We are just a call away to assist you. </p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Get My Card</a>
          </div>
        </div>

      </div>
    </section><!-- End Call To Action Section -->


<!-- new section start -->
<section id="choose" class="bg-primary feature" style="height: auto;">
<div class="row">

<div class="col-md-6">
  <div style="padding-left: 100px; padding-top: 100px;">
  <span class="text-white" style="font-size: 12px; border: 1px solid white; padding: 5px; border-radius: 10px;">Why Choose Us</span>
<h2 class="mt-3 text-white" style="font-weight: bold;">Make Your InfoID More Impressive with These Ideas</h2>

<ul class="text-mark">
<li class="text-white">Share your business details</li>
<li class="text-white">Tell them how to connect with you</li>
<li class="text-white">Set your website's link</li>
<li class="text-white">List your social media platforms</li>
<li class="text-white">Add your image for personal touch</li>
<li class="text-white">Add a stunning cover photo</li>

</ul>

<button class="btn btn-outline-light pl-3 pr-3 w-100 mt-4">Choose Us</button>

</div>
</div>

<div class="col-md-6">
<img class="img-fluid" src="{% static 'page/assets/img/infoid/img-13.jfif' %}" />
</div>

</div>

</section>




<!-- new section end -->


    <!-- ======= More Features Section ======= -->

    <section id="cards" class="section-bg">
      <div class="container  mt-5 mb-5" data-aos="fade-up">

        <div class="section-header">
          <h3 class="section-title">Cards We Have</h3>
          <span class="section-divider"></span>
          <p class="section-description">Customers have the option to choose the card material that suits their needs. Here are the cards we provide.</p>
        </div>

        <div class="row gy-4">

          <div class="col-lg-6">
            <div class="box">
              <div class="row">
<div class="col-md-6">
  <img class="img-fluid" src="{% static 'page/assets/img/infoid/black-card.jfif' %}" style="width: 100%;" />
</div>

<div class="col-md-6">
  <div style="padding-top: 50px;">
  <h4 class="title"><a href="">Pvc Black Card</a></h4>
  <p class="description" style="text-align: justify;">Choose PVC Black Card, which is an ideal choice for businesses to exude professionalism.</p>
</div>
</div>
              </div>
              <div class="icon"></div>
              
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box">
              <div class="row">
                <div class="col-md-6">
                  <img class="img-fluid" src="{% static 'page/assets/img/infoid/white-card.jfif' %}" style="width: 100%;" />
                </div>
                
                <div class="col-md-6">
                  <div style="padding-top: 50px;">
                  <h4 class="title"><a href="">Pvc White Card</a></h4>
                  <p class="description" style="text-align: justify;">Create a clean and minimalist aesthetic look for business cards with PVC White Cards.</p>
                </div>
              </div>    </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box">
              <div class="row">
                <div class="col-md-6">
                  <img class="img-fluid" src="{% static 'page/assets/img/infoid/gold-card.jfif' %}" style="width: 100%;" />
                </div>
                
                <div class="col-md-6">
                  <div style="padding-top: 50px;">
                  <h4 class="title"><a href="">Gold Card</a></h4>
                  <p class="description" style="text-align: justify;">For a lasting impression and luxurious elegance, choose a Gold card for your business smart card.</p>
                </div> </div>
                              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="box">
              <div class="row">
                <div class="col-md-6">
                  <img class="img-fluid" src="{% static 'page/assets/img/infoid/silver-card.jfif' %}" style="width: 100%;" />
                </div>
                
                <div class="col-md-6">
                  <div style="padding-top: 50px;">
                  <h4 class="title"><a href="">Silver Card</a></h4>
                  <p class="description" style="text-align: justify;">Silver Card combines modern design & versatility, making it suitable for any business.</p>
                </div>
              </div>    </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    
    <!-- End More Features Section -->


<!-- new section 2 start -->


<section  class="feature-3 bg-primary">

<div class="row">

<div class="col-md-6">
  <div style="padding-left: 100px; padding-top: 100px; padding-bottom: 50px; padding-right: 100px;">
<h1 class="text-white" style="font-weight: bold;">The Most Convenient Way to Share Business Cards</h1>
<p  class="text-white" style="text-align: justify;">You no longer need to carry your paper business cards everywhere if you own an NFC business card by InfoIDz. It is specially designed with the vision of bringing convenience in sharing information during your busy schedule, which makes every businessperson find comfort in transferring their essential details to other persons.</p>

<button class="btn btn-outline-light w-100">Contact Us</button>
</div>
</div>
<div class="col-md-6">
<img class="img-fluid" src="{% static 'page/assets/img/infoid/img-12.jpg' %}">
</div>

</div>



</section>



<!-- new section 2 end -->




    <!-- ======= Clients Section ======= -->
    <section id="clients">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-md-2">
            <img src="{% static 'page/assets/img/clients/client-1.png' %}" alt="">
          </div>

          <div class="col-md-2">
            <img src="{% static 'page/assets/img/clients/client-2.png' %}" alt="">
          </div>

          <div class="col-md-2">
            <img src="{% static 'page/assets/img/clients/client-3.png' %}" alt="">
          </div>

          <div class="col-md-2">
            <img src="{% static 'page/assets/img/clients/client-4.png' %}" alt="">
          </div>

          <div class="col-md-2">
            <img src="{% static 'page/assets/img/clients/client-5.png' %}" alt="">
          </div>

          <div class="col-md-2">
            <img src="{% static 'page/assets/img/clients/client-6.png' %}" alt="">
          </div>

        </div>
      </div>
    </section>
    
    <!-- End Clients Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h3 class="section-title">Pricing</h3>
          <span class="section-divider"></span>
          <p class="section-description">We have the best plans for you. Choose the best one that fits your needs.</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="box">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> month</span></h4>
              <ul>
                <li><i class="bi bi-check-circle"></i> SINGLE SIDE DESIGN</li>
                <li><i class="bi bi-check-circle"></i> QR CODE DISABLED</li>
                <li><i class="bi bi-check-circle"></i> NO DASHBOARD ACCESS</li>
                <li><i class="bi bi-check-circle"></i> ANDROID AND IOS SUPPORT</li>
                <li><i class="bi bi-check-circle"></i> ONE TIME PAYMENT</li>
                <li><i class="bi bi-x-circle"></i> - </li>
                <li><i class="bi bi-x-circle"></i> - </li>
              </ul>
              <a href="#" class="get-started-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="box featured">
              <h3>Premium</h3>
              <h4><sup>$</sup>29<span> month</span></h4>
              <ul>
                <li><i class="bi bi-check-circle"></i> SINGLE SIDE DESIGN</li>
                <li><i class="bi bi-check-circle"></i> QR CODE DISABLED</li>
                <li><i class="bi bi-check-circle"></i> NO DASHBOARD ACCESS</li>
                <li><i class="bi bi-check-circle"></i> ANDROID AND IOS SUPPORT</li>
                <li><i class="bi bi-check-circle"></i>ONE TIME PAYMENT</li>
                <li><i class="bi bi-check-circle"></i>PREMIUM DESIGN ACCESS</li>
                <li><i class="bi bi-check-circle"></i>UP TO 50 CARDS ACCESS</li>
              </ul>
              <a href="#" class="get-started-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="box">
              <h3>Business</h3>
              <h4><sup>$</sup>49<span> month</span></h4>
              <ul>
                <li><i class="bi bi-check-circle"></i> DUAL SIDE DESIGN</li>
                <li><i class="bi bi-check-circle"></i> QR ENABLED</li>
                <li><i class="bi bi-check-circle"></i> DASHBOARD ACCESS</li>
                <li><i class="bi bi-check-circle"></i> ANDROID AND IOS SUPPORT</li>
                <li><i class="bi bi-check-circle"></i> ONE TIME PAYMENT</li>
                <li><i class="bi bi-check-circle"></i> PREMIUM DESIGN ACCESS</li>
                <li><i class="bi bi-check-circle"></i> UP TO 50-150 CARDS ACCESS</li>
              </ul>
              <a href="#" class="get-started-btn">Get Started</a>
            </div>
          </div>

          <div class="col-lg-3 col-md-6">
            <div class="box">
              <h3>Pro</h3>
              <h4><sup>$</sup>49<span> month</span></h4>
              <ul>
                <li><i class="bi bi-check-circle"></i> DUAL SIDE DESIGN</li>
                <li><i class="bi bi-check-circle"></i> QR ENABLED</li>
                <li><i class="bi bi-check-circle"></i> DASHBOARD ACCESS</li>
                <li><i class="bi bi-check-circle"></i> ANDROID AND IOS SUPPORT</li>
                <li><i class="bi bi-check-circle"></i> ONE TIME PAYMENT</li>
                <li><i class="bi bi-check-circle"></i> PREMIUM DESIGN ACCESS</li>
                <li><i class="bi bi-check-circle"></i> UP TO 150-500 CARDS ACCESS</li>
              </ul>
              <a href="#" class="get-started-btn">Get Started</a>
            </div>
          </div>


        </div>
      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">Frequently Asked Questions</h3>
          <span class="section-divider"></span>
          <p class="section-description">Still having confusion? Find all the solutions here, where we gather the most frequently asked questions.</p>
        </div>

        <ul class="faq-list">

          <li>
            <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">How can I share my business card using the InfoIDz digital business card? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq1" class="collapse" data-bs-parent=".faq-list">
              <p>
                InfoIDz offers digital business cards that incorporate Near Field Communication (NFC) technology; thus, they are known as NFC business cards. You can share your NFC business card by tapping it on any device that supports NFC, such as smartphones.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Where can I buy affordable NFC business cards?<i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq2" class="collapse" data-bs-parent=".faq-list">
              <p>
                You can buy the best-quality and most affordable NFC business cards in Dubai from InfoIDz, the leading supplier of smart NFC digital business cards in the UAE.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">How do I use my NFC business card? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq3" class="collapse" data-bs-parent=".faq-list">
              <p>
                NFC business cards are used to share your contact details with other devices. It is a very simple and convenient way to use it with just a single tap on devices that support NFC. The recipient can save the details or share them via social media platforms such as WhatsApp, Instagram, etc.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Can I customize my smart business card? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq4" class="collapse" data-bs-parent=".faq-list">
              <p>
                Yes, you can customize your NFC business cards according to your specific requirements. You can choose the details to be included in the card.
              </p>
            </div>
          </li>

          <li>
            <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Where can I use my digital business card? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
            <div id="faq5" class="collapse" data-bs-parent=".faq-list">
              <p>
                You can use your digital business card on all devices that support NFC. You can tap it on all smartphones with Android OS or iOS.
              </p>
            </div>
          </li>



        </ul>

      </div>
 



    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container" data-aos="fade-up">
        <div class="row">

          <div class="col-lg-4 col-md-4">
            <div class="contact-about">
              <h3>INFOIDZ</h3>
              <p>Cras fermentum odio eu feugiat. Justo eget magna fermentum iaculis eu non diam phasellus. Scelerisque felis imperdiet proin fermentum leo. Amet volutpat consequat mauris nunc congue.</p>
              <div class="social-links">
                <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-4">
            <div class="info">
              <div>
                <i class="bi bi-geo-alt"></i>
                <p>Office No:102<br>Al Rostamani Building,
                  Khalid Bin Al Waleed Rd,
                  Bur Dubai,Dubai</p>
              </div>

              <div>
                <i class="bi bi-envelope"></i>
                <p>sales@infomeuae.com</p>
              </div>

              <div>
                <i class="bi bi-phone"></i>
                <p> +971 4 354 6020</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="row">
                  <div class="form-group col-lg-6">
                    <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                  </div>
                  <div class="form-group col-lg-6 mt-3 mt-lg-0">
                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                  </div>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Message" required></textarea>
                </div>
                <div class="my-3">
                  <div class="loading">Loading</div>
                  <div class="error-message"></div>
                  <div class="sent-message">Your message has been sent. Thank you!</div>
                </div>
                <div class="text-center"><button type="submit" title="Send Message">Send Message</button></div>
              </form>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-lg-start text-center">
          <div class="copyright">
            &copy; Copyright <strong>INFOIDZ</strong>. All Rights Reserved
          </div>
      
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="#intro" class="scrollto">Home</a>
            <a href="#about" class="scrollto">About</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Use</a>
          </nav>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-chevron-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'page/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'page/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'page/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'page/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'page/assets/js/main.js' %}"></script>

</body>

</html>