<div class="mt-5 mb-5 ">
    <div class="d-flex justify-content-center">
     
      <div class="card p-2 row">
        <div class="col-12 justify-content-center d-flex">
          <img style="height: 100%; width: 100%;" src="https://img.freepik.com/free-vector/blue-trash-can-with-lid-ecology-sign-green-leaves-background_1268-15043.jpg?t=st=1709186848~exp=1709190448~hmac=94f214b949eaaa15b98ff1e0fe95baef6cd31115bdddc5dc9bf6bb81cc138831&w=740" alt="">
        
        </div>
        <div class="col-12">
          <p>Sorry, the card you're trying to access has been deleted. If you need assistance or have any questions, please feel free to contact support.</p>
        </div>
        
       
      </div>
    </div>
  </div>